*.css
*.scss
*.svg
*.config.js
*.font.js
package.json
package-lock.json
yarn.lock
build
src/components/editor
src/redux
src/assets
node_modules
coverage-report
config
scripts
.vscode
*.d.ts
sonarqube
scannerwork
